---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Saiba Mais',
        href: '#features',
        icon: 'tabler:download',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Somos o Departamento Digital para <span class="hidden xl:inline">Pequenas Empresas e Profissionais Liberais</span>
      <span class="text-accent dark:text-white"> Pequenas Empresas e Profissionais Liberais</span>.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">A PWER IO </span> é uma empresa de prestação de serviços digitais que oferece solucões inovadoras e seguras, combinando inteligência artificial e outras tecnologias avançadas para otimizar e simplificar a gestão digital de diversas empresas.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>

    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Filosofia:" description="Simplicidade, Melhores Práticas e Alta Performance" />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="O que fazemos"
    title="Foque no Seu Negócio: Nós cuidamos da sua Vida Digital"
    subtitle="Oferecemos soluções digitais completas para que você possa focar no que realmente importa: fazer seu negócio crescer. Somos especialistas em transformar presença online em resultados reais."
    items={[
      {
        title: 'Chatbots com Inteligência Artificial',
        description:
          'Automatize o atendimento e otimize processos com chatbots inteligentes e personalizados para seu negócio.',
        icon: 'tabler:message-chatbot',
      },
      {
        title: 'Google Workspace Gerenciado',
        description:
          'Organize e proteja seus e-mails, documentos e arquivos com a melhor estrutura de produtividade e gestão na nuvem.',
        icon: 'tabler:brand-google',
      },
      {
        title: 'Gerenciamento de Domínios',
        description:
          'Cuidamos da administração completa do seu domínio, com configurações seguras, eficientes e sempre atualizadas.',
        icon: 'tabler:brand-mailgun',
      },
      {
        title: 'Aplicações Personalizadas',
        description:
          'Criamos soluções digitais sob medida para atender às necessidades específicas do seu negócio e impulsionar seus resultados.',
        icon: 'tabler:apps',
      },
      {
        title: 'Melhores Práticas do Mercado',
        description:
          "Aplicamos as metodologias mais modernas para garantir segurança, desempenho e inovação contínua em todos os projetos.",
        icon: 'tabler:trophy',
      },
      {
        title: 'Fluxos de Trabalho Integrados',
        description:
          'Desenvolvemos integrações sob medida que conectam suas ferramentas e automatizam tarefas essenciais do seu dia a dia.',
        icon: 'tabler:subtask',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Tecnologia e Inteligência"
    title="Transforme seu Negócio com Tecnologia Inteligente"
    items={[
      {
        title: 'Soluções baseadas em Inteligência Artificial',
        description:
          'Potencializamos sua produtividade e atendimento ao cliente com IA de última geração.',
      },
      {
        title: 'Automação de Processos Personalizada',
        description:
          'Conectamos e otimizamos suas ferramentas para que tudo funcione de forma automática e integrada.',
      },
      {
        title: 'Foco em Crescimento Sustentável',
        description:
          'Nossos serviços são pensados para escalar seu negócio de maneira segura, ágil e sustentável.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Coonstruimos em sólidas fundações</h3>
      Aproveite o que há de melhor em Inteligência Artificial, automações e boas práticas para impulsionar resultados reais.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Gerenciamento de Acessos de Colaboradores',
        description: `Controle entradas e saídas de funcionários, garantindo que apenas pessoas autorizadas tenham acesso às informações certas.`,
      },
      {
        title: 'Proteção de Dados Sensíveis',
        description:
          'Implantamos práticas de segurança para proteger informações estratégicas e dados confidenciais da sua empresa.',
      },
      {
        title: 'Automação de Permissões',
        description:
          "Automatize o processo de concessão e revogação de acessos para evitar falhas humanas e agilizar operações.",
      },
      {
        title: 'Monitoramento e Auditoria',
        description:
          'Acompanhe em tempo real quem acessou o quê, e tenha relatórios completos para garantir conformidade e segurança.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Tenha total controle sobre quem acessa suas informações e mantenha a segurança dos seus dados, colaboradores e processos.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Gestão de Landing Pages Inteligente',
        description:
          'Facilitamos a criação, manutenção e atualização de páginas de conversão, otimizando o tempo da sua equipe.',
      },
      {
        title: 'Integrações Estratégicas',
        description:
          'Conectamos ferramentas de CRM, automação de marketing e analytics de forma eficiente, para que a agência foque no que faz de melhor.',
      },
      {
        title: 'Atualizações e Suporte Técnico',
        description:
          'SGarantimos estabilidade, segurança e evolução constante das plataformas digitais em parceria com sua agência.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Sua Agência Mais Forte com a PWER ao Seu Lado. Potencializamos o trabalho da sua agência, entregando estrutura digital de alta performance para que suas campanhas alcancem os melhores resultados.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Contratar a PWER é simples, rápido e sem complicação."
    items={[
      {
        title: 'Passo 1: <span class="font-medium">Agende uma conversa</span>',
        description:
          "Entre em contato pelo WhatsApp ou e-mail para agendarmos uma reunião e entender suas necessidades de forma personalizada.",
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: 'Passo 2: <span class="font-medium">Receba sua proposta sob medida</span>',
        description:
          "Após a conversa inicial, enviaremos uma proposta totalmente adaptada às suas demandas, com valores e prazos claros.",
        icon: 'tabler:contract',
      },
      {
        title: 'Passo 3: <span class="font-medium">Aceite e efetue o pagamento</span>',
        description:
          'Com a proposta aprovada, basta realizar o pagamento de forma prática via cartão de crédito.',
        icon: 'tabler:credit-card',
      },
      {
        title: 'Pronto! - Início do projeto com onboarding especializado.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Serviços e Benefícios PWER"
    subtitle="De infraestrutura sólida a estratégias inteligentes, entregamos soluções completas para sua presença online prosperar."
    tagline="Como impulsionamos o seu sucesso digital"
    items={[
      {
        title: 'Landing Pages de Alta Conversão',
        description: "Projetadas para atrair e converter visitantes em clientes, com foco em UX, velocidade e SEO de ponta.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Infraestrutura de Hospedagem Premium',
        description:
          "Utilizamos servidores modernos e seguros para garantir alta disponibilidade, proteção de dados e estabilidade.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Velocidade e Performance Profissionais',
        description:
          'Entrega de sites otimizados, rápidos e responsivos, garantindo melhor experiência para usuários e melhores ranqueamentos.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Gestão de Conteúdo Facilitada',
        description:
          "Criação de estruturas intuitivas para você ou sua equipe atualizarem o site com facilidade e agilidade.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Integrações com Ferramentas de Marketing',
        description:
          'Conectamos seu site a CRMs, automações, e plataformas de mídia paga, potencializando suas campanhas.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Integrações com Sistemas de Pagamento',
        description: 'Facilitamos a conexão do seu site com plataformas de pagamento como Stripe, PayPal, Mercado Pago e outras, garantindo uma experiência de compra rápida, segura e sem complicações para seus clientes.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Suporte Ágil e Consultoria Contínua',
        description: 'Mais que suporte técnico: oferecemos orientação estratégica contínua para evoluir seu projeto.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'SEO Técnico e Estratégico',
        description:
          'Preparamos o terreno para que seu site alcance o topo dos buscadores, com otimizações técnicas e conteúdo relevante.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Sem Cláusulas de Fidelidade',
        description: "Ficamos juntos pelos resultados! Você permanece porque vê valor, não por obrigação contratual.",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Confira alguns conteúdos do nosso Blog"
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
